*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/*heading*/
.logo{
  background-color: #5600FF;
  width: 221px;
  height: 71px;
  padding: 9px 9px 9px 58px;
}

.top-nav{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -6px;
}

.top-menu{
    display: flex;
    flex-wrap: wrap;
    height: 71px;
}

.top-menu li{
  display: inline;
  border-right: 1px solid #ccc;
  padding: 23px 64px;
}

.top-menu li:hover{
    background-color: #E5E5E5;
}

.top-site{
  text-decoration: none;
  color: #909090;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.top-site:hover{
  color: #bf1e2e;
}

/*Another way*/
/*.top-nav{
  display: flex;
  flex-wrap: wrap;
}

.top-menu{
  display: flex;
  flex-wrap: wrap;
}

.top-menu li{
  display: inline;
}

.top-site{
  display: table-cell;
  width: 167px;
  height: 71px;
  vertical-align: middle;
  text-align: center;
  border-right: 1px solid #ccc;
  text-decoration: none;
}

.top-site:hover{
    color: #bf1e2e;
    background-color: #E5E5E5;
}
*/

/*About*/
.container{
  width: 974px;
  margin: auto;
  padding: 43px;
  position: relative;
}

.content{
  width: 50%;
  margin: 0 auto;
  padding: 25px 0 88px;
}

.page-title{
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 100;
  line-height: 88px;
  text-align: center;
}

.about-text{
  line-height: 20px;
  margin-top: 20px;
  font-weight: 300;
}


/*Contact*/
.text{
  padding: 28px 0;
}

.input-text{
  padding: 16px;
  width: 100%;
  margin-right: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  -webkit-inner-spin-button,
  -webkit-outer-spin-button
  -webkit-appearance: none;
  -moz-appearance:textfield;
}

.c-btn{
  padding: 13px 28px;
  background-color: #4CAF50;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  border: none;
  font-size: 15px;
}

.site-r{
  color: white;
  text-decoration: none;
}

.input-comment{
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  width: 100%;
}

.wrapper-color{
  width: 100%;
  background-color: #F4F7F8;
}

@media (max-width:1000px){
  .container{
    max-width: 100%;
  }
  .content{
    width: 100%;
  }
}

/*homePage*/
.featureimg{
  width: 100%;
  background-size: cover;
  max-height: 758px;
}

.feature-text{
  position: absolute;
  top: 25%;
  left: 3%;
  color: white;
  font-size: 33px;
  text-shadow: 1px 1px 1px black;
  font-family: 'Open Sans', sans-serif;
}

.feature-style{
  line-height: 48px;
  margin-bottom: 35px;
}

.t-style{
  font-weight: normal;
}

.feature-sub{
  font-size: 16px;
}

.label{
  position: relative;
}

.site{
  text-decoration: none;
  color: black;
}

.site:hover{
  color: red;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column{
  flex: 40%;
  padding: 14px 13px;
  max-width: 33%;

}

.feature-works{
  text-align: center;
  font-weight: 300;
  font-size: 26px;
  margin-top: 55px;
}

.info{
  text-align: center;
  padding: 75px 36px;
}

.info-style, .overlay p{
  text-align: left;
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;

}

.icon{
  height: 55px;
}

.r-text, .feature-works, .subscribe-text, .overlay-s, .r-name, .r-ing, .r-inst{
  text-transform: uppercase;
}

.r-text{
  padding: 28px 0;
  font-size: 18px;
  font-weight: 300;
}

.subscribe-text{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 300;
}

.t-position{
  position: relative;
}

.news{
  text-align: center;
}

.news-image{
  height: 519px;
  width: 90%;
  margin-top: 35px;
}

.overlay{
  background-color: white;
  opacity: 0.8;
  position: absolute;
  width: 364px;
  top: 50px;
  right: 11%;
  padding: 35px;
}

.overlay-s{
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}

.overlay-p{
  padding: 16px;
}

.wrapper-news{
  text-align: center;
  width: 50%;
  margin: 0 auto;
  padding: 120px 0 120px;
}

.input-email-list{
  padding: 16px;
  width: 55%;
  margin-right: 15px;
  border: 1px solid #f3f3f3;
  border-radius: 6px;
  -webkit-inner-spin-button,
  -webkit-outer-spin-button
  -webkit-appearance: none;
  -moz-appearance:textfield;
}

.o-btn{
  padding: 13px 28px;
  background-color: #f27242;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  border: none;
}

.tomatoes{
  position: absolute;
  z-index: 1;
  bottom: 4px;
}


/*recipes*/
.content-r{
  width: 974px;
  margin: 0 auto;
  padding: 25px 0 88px;
}

.list-1, .list-2, .list-3{
  width: 80%;
  margin: auto;
  padding: 35px;
  box-shadow: 2px 2px 10px #E8E8E8;
  background: white;
  margin-bottom: 16px;
}

.recipe-txt{
  padding: 10px 0;
}

.r-name{
  font-size: 28px;
}

.r-prep, .r-cook{
  font-size: 12px;

}

.r-inst, .r-ing{
  font-weight: 300;
}

.list-inst, .list-ing{
  padding-left: 38px;
  font-weight: 300;
}

.btn-timer{
  padding: 13px 28px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 30px;
  border: none;
  font-size: 14px;
}

.btn-timer:hover{
  background-color: #E5E5E5;
}




/*footer*/
.foot-title{
  font-weight: normal;
}

.f-row{
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.foot-menu{
  width: 33%;
  flex: 33%;
  padding: 50px 59px;
}

.bottom-nav{
  list-style-type: none;
  font-size: 13px;
  padding-left: 35px;
}

.bottom-nav li{
  margin: 10px 0;
}

.chef-logo{
  text-align: right;
  margin-left: auto;
  display: block;
}

.copy{
  text-align: center;
}

.social-icon{
    display: flex;
}

.social{
  display: inline;
}

.facebook{
  background-image: url("http://showcase.revature.com/sousmate100/images/social.svg");
  margin: 6px;
  height: 41px;
  width: 41px;
  padding: 0 30px;
  background-repeat: no-repeat;
  background-position: 0 0;
  display: block;
}

.twitter{
  background-image: url("http://showcase.revature.com/sousmate100/images/social.svg");
  margin: 6px;
  height: 41px;
  width: 41px;
  padding: 0 30px;
  background-repeat: no-repeat;
  background-position:0 -115px ;
  display: block;
}

.pinterest{
  background-image: url("http://showcase.revature.com/sousmate100/images/social.svg");
  margin: 6px;
  height: 41px;
  width: 41px;
  padding: 0 30px;
  background-repeat: no-repeat;
  background-position:0 -230px ;
  display: block;
}
